@font-face {
  font-family: "Armstrong";
  src: url("/fonts/Armstrong.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
